.btn {
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: inherit;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn--primary {
  color: white;
  background-color: hsla(200, 100%, 50%, 1);
}

.btn--primary:hover {
  background-color: hsla(200, 100%, 35%, 1);
}

.btn--danger {
  color: white;
  background-color: hsla(0, 100%, 50%, 1);
}

.btn--danger:hover {
  background-color: hsla(0, 100%, 35%, 1);
}
